.topbar {
	display: none;
}

.scheme-container {
	display: none;
}

.version {
	font-size: large;
}

.swagger-ui .info .title small {
	background-color: #005eb8;
}

.title:after {
	content: url('nhs-digital-logo.png');
	float: right;
}

.information-container .block .info .main a {
	display: none;
}