.topbar {
	display: none;
}

.scheme-container {
	display: none;
}

.version {
	font-size: large;
}

.swagger-ui .info .title small {
	background-color: #005eb8;
}

.title:after {
	content: url('nhs-digital-logo.png');
	float: right;
}

.information-container .block .info .main a {
	display: none;
}

div#swagger-ui section.swagger-ui div.wrapper section span a {
	display: none;
}

h4,
.swagger-ui .parameter__name,
.swagger-ui .opblock-tag,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui section.models h4,
.swagger-ui .model-title,
.swagger-ui .btn,
.swagger-ui .btn.cancel {
	font-family: Open Sans, sans-serif;
}

.swagger-ui .btn {
	font-size: 18px;
}

.swagger-ui .opblock .opblock-summary-method {
	font-family: Source Code Pro, monospace;
}

.parameters-col_description div p {
	margin: 0;
	font-size: 14px;
}

.parameters-col_description div {
	font-size: 14px;
}
