swagger: '2.0'
info:
  description: |-
    This is interactive API documentation for GP Connect API 0.5.2 (DSTU2), which has been authored from the <a href='https://developer.nhs.uk/apis/gpconnect-0-5-2/'>GP Connect API 0.5.2 specification</a>.

    <a href='../../swagger-v1.html' target='_top'>Interactive API documentation</a> for GP Connect API 1.x (STU3) is also available.

    <b>Warning! This is a test server. Do not store any information here that contains personal health information or any other confidential information. This server will be regularly purged and reloaded with fixed test data.</b>
  version: 0.5.2
  title: GP Connect API
  termsOfService: ''
host: 'orange.testlab.nhs.uk'
basePath: /gpconnect-demonstrator/v0/fhir/
tags:
  - name: Foundations
    description: ''
    externalDocs:
      description: Specification
      url: 'https://developer.nhs.uk/apis/gpconnect-0-5-2/foundations.html'
  - name: Access Record HTML
    description: ''
    externalDocs:
      description: Specification
      url: 'https://developer.nhs.uk/apis/gpconnect-0-5-2/accessrecord.html'
schemes:
  - https
paths:
  /metadata:
    get:
      tags:
      - Foundations
      summary: Get the FHIR® conformance profile
      description: ''
      consumes:
        - application/json+fhir
      produces:
        - application/json+fhir
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:read:metadata'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
             "iss": "https://orange.testlab.nhs.uk/",
             "sub": "1",
             "aud": "https://authorize.fhir.nhs.net/token",
             "exp": <<expiry>>,
             "iat": <<issued_at>>,
             "reason_for_request": "directcare",
             "requested_record": {
              "resourceType": "Organization",
              "identifier": [
               {
                "system": "http://fhir.nhs.net/Id/ods-organization-code",
                "value": "A11111"
               }
              ]
             },
             "requested_scope": "organization/*.read",
             "requesting_device": {
              "resourceType": "Device",
              "id": "1",
              "identifier": [
                {
                  "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                  "value": "gpcdemonstrator-0-orange"
                }
              ],
              "model": "GP Connect Demonstrator",
              "version": "0.5.2"
             },
             "requesting_organization": {
              "resourceType": "Organization",
              "id": "1",
              "identifier": [
               {
                "system": "http://fhir.nhs.net/Id/ods-organization-code",
                "value": "A11111"
               }
              ],
              "name": "Consumer organisation name"
             },
             "requesting_practitioner": {
              "resourceType": "Practitioner",
              "id": "1",
              "identifier": [
               {
                "system": "http://fhir.nhs.net/sds-user-id",
                "value": "G13579135"
               },
               {
                "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                "value": "1"
               }
              ],
              "name": {
                "family": [
                  "Demonstrator"
                ],
                "given": [
                  "GPConnect"
                ],
                "prefix": [
                  "Mr"
                ]
              },
              "practitionerRole": [
                {
                  "role": {
                    "coding": [
                      {
                        "system": "http://fhir.nhs.net/ValueSet/sds-job-role-name-1",
                        "code": "sds-job-role-name"
                      }
                    ]
                  }
                }
              ]
             }
            }
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
  /Patient/$gpc.getcarerecord:
    post:
      tags:
        - Access Record HTML
      summary: Retrieve a care record section
      consumes:
        - application/json+fhir
      produces:
        - application/json+fhir
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:operation:gpc.getcarerecord'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          example: |-
            {
             "iss": "https://orange.testlab.nhs.uk/",
             "sub": "1",
             "aud": "https://authorize.fhir.nhs.net/token",
             "exp": <<expiry>>,
             "iat": <<issued_at>>,
             "reason_for_request": "directcare",
             "requested_record": {
              "resourceType": "Patient",
              "identifier": [
               {
                "system": "http://fhir.nhs.net/Id/nhs-number",
                "value": "9658218873"
               }
              ]
             },
             "requested_scope": "patient/*.read",
             "requesting_device": {
              "resourceType": "Device",
              "id": "1",
              "identifier": [
                {
                  "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                  "value": "gpcdemonstrator-0-orange"
                }
              ],
              "model": "GP Connect Demonstrator",
              "version": "0.5.2"
             },
             "requesting_organization": {
              "resourceType": "Organization",
              "id": "1",
              "identifier": [
               {
                "system": "http://fhir.nhs.net/Id/ods-organization-code",
                "value": "A11111"
               }
              ],
              "name": "Consumer organisation name"
             },
             "requesting_practitioner": {
              "resourceType": "Practitioner",
              "id": "1",
              "identifier": [
               {
                "system": "http://fhir.nhs.net/sds-user-id",
                "value": "G13579135"
               },
               {
                "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                "value": "1"
               }
              ],
              "name": {
                "family": [
                  "Demonstrator"
                ],
                "given": [
                  "GPConnect"
                ],
                "prefix": [
                  "Mr"
                ]
              },
              "practitionerRole": [
                {
                  "role": {
                    "coding": [
                      {
                        "system": "http://fhir.nhs.net/ValueSet/sds-job-role-name-1",
                        "code": "sds-job-role-name"
                      }
                    ]
                  }
                }
              ]
             }
            }
          description: Authorization header containing JWT
          required: true
        - in: body
          name: body
          description: 'Care record section request'
          required: true
          schema:
            type: object
            example:
              resourceType: "Parameters"
              parameter: 
                - name: "patientNHSNumber"
                  valueIdentifier: 
                    system: "http://fhir.nhs.net/Id/nhs-number"
                    value: "9658218873"
                - name: "recordSection"
                  valueCodeableConcept: 
                    coding:
                      - system: "http://fhir.nhs.net/ValueSet/gpconnect-record-section-1"
                        code: "ALL"
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
