swagger: '2.0'
info:
  description: |-
    This is interactive API documentation for GP Connect API 1.2.7 (STU3) - Appointment Management, which has been authored from the <a href='https://developer.nhs.uk/apis/gpconnect-1-2-7/' target='_blank'>GP Connect API 1.2.7 specification</a>.

    <b>Warning! This is a test server. Do not store any information here that contains personal health information or any other confidential information. This server will be regularly purged and reloaded with fixed test data.</b>
  version: 1.2.7 - Appointment Management
  title: GP Connect API
  termsOfService: ''
host: 'orange.testlab.nhs.uk'
basePath: /gpconnect-demonstrator/v1/fhir
tags:
  - name: Foundations
    description: ''
    externalDocs:
      description: Specification
      url: 'https://developer.nhs.uk/apis/gpconnect-1-2-7/foundations.html'
  - name: Appointment Management
    description: ''
    externalDocs:
      description: Specification
      url: 'https://developer.nhs.uk/apis/gpconnect-1-2-7/appointments.html'
schemes:
  - https
paths:

############################################################
# Get the FHIR conformance profile 
############################################################
  /metadata:
    get:
      tags:
      - Foundations
      summary: Get the FHIR capability statement
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:read:metadata-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "organization/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
      required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Find a patient
############################################################
  /Patient:
    get:
      tags:
      - Foundations
      summary: Find a patient
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:search:patient-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: query
          name: identifier
          type: string
          description: Patient identifier
          x-example: 'https://fhir.nhs.uk/Id/nhs-number|9658218873'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Read a patient
############################################################
  /Patient/{id}:
    get:
      tags:
      - Foundations
      summary: Read a patient
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:read:patient-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: path
          name: id
          type: string
          description: Patient logical identifier
          x-example: '4'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Find a practitioner
############################################################
  /Practitioner:
    get:
      tags:
      - Foundations
      summary: Find a practitioner
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:search:practitioner-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "organization/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: query
          name: identifier
          type: string
          description: Practitioner identifier
          x-example: 'https://fhir.nhs.uk/Id/sds-user-id|G13579135'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Read a practitioner
############################################################
  /Practitioner/{id}:
    get:
      tags:
      - Foundations
      summary: Read a practitioner
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:read:practitioner-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "organization/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: path
          name: id
          type: string
          description: Practitioner logical identifier
          x-example: '1'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Find an organization
############################################################
  /Organization:
    get:
      tags:
      - Foundations
      summary: Find an organization
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:search:organization-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "organization/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: query
          name: identifier
          type: string
          description: Organization identifier
          x-example: 'https://fhir.nhs.uk/Id/ods-organization-code|GPC001'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Read an organization
############################################################
  /Organization/{id}:
    get:
      tags:
      - Foundations
      summary: Read an organization
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:read:organization-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "organization/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: path
          name: id
          type: string
          description: Organization logical identifier
          x-example: '1'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Read a location
############################################################
  /Location/{id}:
    get:
      tags:
      - Foundations
      summary: Read a location
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:read:location-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "organization/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: path
          name: id
          type: string
          description: Location logical identifier
          x-example: '1'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Register a patient
############################################################
  /Patient/$gpc.registerpatient:
    post:
      tags:
      - Foundations
      summary: Register a patient
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:operation:gpc.registerpatient-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.write",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: body
          name: body
          description: Parameters resource containing Patient
          schema:
            type: object  
            example:
              resourceType: "Parameters"
              parameter: 
                - name: "registerPatient"
                  resource:
                    resourceType: "Patient"
                    meta:
                      profile:
                        - "https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Patient-1"
                    identifier:
                      - system: "https://fhir.nhs.uk/Id/nhs-number"
                        value: "9999999999"
                    name:
                      - use: "official"
                        family: "Jackson"
                        given:
                          - "Jane"
                        prefix:
                          - "Miss"
                    gender: "female"
                    birthDate: "1990-01-01"
                    telecom:
                      - system: "phone"
                        value: "01132587418"
                        use: "home"
                      - system: "email"
                        value: "jane.jackson@gpconnect.com"
                        use: "home"
                    address:
                      - use: "temp"
                        type: "physical"
                        line: 
                          - "1 Withings Lane, Shadwell"
                        city: "Leeds"
                        district: "West Yorkshire"
                        postalCode: "LS18 1AE"
                    extension:
                        - url: "https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-NHSCommunication-1"
                          extension:
                            - url: "language"
                              valueCodeableConcept: 
                                - coding:
                                    - system: "https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-HumanLanguage-1"
                                      code: "bo"
                                      display: "Tibetan"
                            - url: "interpreterRequired"
                              valueBoolean: "false"
                          
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Read a patient's appointments
############################################################
  /Patient/{id}/Appointment:
    get:
      tags:
      - Appointment Management
      summary: Read a patient's appointments
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:search:patient_appointments-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: path
          name: id
          type: string
          description: Patient logical identifier
          x-example: '2'
          required: true
        - in: query
          name: start
          type: array
          collectionFormat: multi
          description: Appointment start/end dates
          items:
            type: string
          required: true
          default: ["ge2020-05-09", "le2020-05-19"]
      responses:
        '200':
          description: OK
        '400':
          description: Bad request


############################################################
# Search for free slots
############################################################
  /Slot:
    get:
      tags:
      - Appointment Management
      summary: Search for free slots
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:search:slot-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "organization/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: query
          name: start
          type: string
          description: Slot start date/time
          x-example: 'ge2020-05-09'
          required: true
        - in: query
          name: end
          type: string
          description: Slot end date/time
          x-example: 'le2020-05-10'
          required: true
        - in: query
          name: status
          type: string
          description: Slot status
          enum: ['free']
          required: true
          default: 'free'
        - in: query
          name: _include
          type: string
          description: Include
          enum: ['Slot:schedule']
          required: true
          default: 'Slot:schedule'
        - in: query
          name: _include:recurse
          type: array
          collectionFormat: multi
          description: Include recurse
          items:
            type: string
            enum: ['Schedule:actor:Practitioner', 'Schedule:actor:Location', 'Location:managingOrganization']
        - in: query
          name: searchFilter
          type: array
          collectionFormat: multi
          description: Search filter
          items:
            type: string
            enum: ['https://fhir.nhs.uk/STU3/CodeSystem/GPConnect-OrganisationType-1|gp-practice', 'https://fhir.nhs.uk/STU3/CodeSystem/GPConnect-OrganisationType-1|urgent-care', 'https://fhir.nhs.uk/Id/ods-organization-code|A20047']
          default: 'https://fhir.nhs.uk/STU3/CodeSystem/GPConnect-OrganisationType-1|gp-practice'
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Book an appointment
############################################################
  /Appointment:
    post:
      tags:
      - Appointment Management
      summary: Book an appointment
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:create:appointment-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.write",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: body
          name: body
          description: Appointment
          schema:
            type: object  
            example:
              resourceType: "Appointment"
              meta:
                profile:
                  - "https://fhir.nhs.uk/STU3/StructureDefinition/GPConnect-Appointment-1"
              contained:
                - resourceType: "Organization"
                  id: "1"
                  meta:
                    profile:
                      - "https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Organization-1"
                  identifier:
                    - system: "https://fhir.nhs.uk/Id/ods-organization-code"
                      value: "GPC001"
                  name: "GP Connect Demonstrator"
                  telecom:
                    - system: "phone"
                      value: "0113 258 2569"
              status: "booked"
              created: "2018-11-14T14:31:55+00:00"
              description: "A test appointment booked through Interactive Swagger API"
              start: "2018-11-16T10:00:00+00:00"
              end: "2018-11-16T10:10:00+00:00"
              slot: 
                - reference: "Slot/1"
              participant:
                - actor:
                    reference: "Patient/2"
                  status: "accepted"
                - actor:
                    reference: "Location/1"
                  status: "accepted"
              extension:
                - url: "https://fhir.nhs.uk/STU3/StructureDefinition/Extension-GPConnect-BookingOrganisation-1"
                  valueReference:
                    reference: "#1"
          required: true
      responses:
        '201':
          description: Created
        '400':
          description: Bad request

############################################################
# Read an appointment
############################################################
  /Appointment/{id}:
    get:
      tags:
      - Appointment Management
      summary: Read an appointment
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:read:appointment-1'
          description: SDS interaction identifier
          required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.read",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: path
          name: id
          type: string
          description: Appointment logical identifier
          x-example: '1'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request

############################################################
# Amend or cancel an appointment
############################################################
    put:
      tags:
      - Appointment Management
      summary: Amend or cancel an appointment
      description: ''
      consumes:
        - application/fhir+json
      produces:
        - application/fhir+json
      parameters:
        - in: header
          name: Ssp-TraceID
          type: string
          x-example: 09a01679-2564-0fb4-5129-aecc81ea2706
          description: Consumer trace identifier
          required: true
        - in: header
          name: Ssp-From
          type: string
          x-example: '200000000359'
          description: Consumer ASID
          required: true
        - in: header
          name: Ssp-To
          type: string
          x-example: '918999198993'
          description: Provider ASID
          required: true
        - in: header
          name: Ssp-InteractionID
          type: string
          default: 'urn:nhs:names:services:gpconnect:fhir:rest:update:appointment-1'
          enum:
            - 'urn:nhs:names:services:gpconnect:fhir:rest:update:appointment-1'
            - 'urn:nhs:names:services:gpconnect:fhir:rest:cancel:appointment-1'
          description: SDS interaction identifier
          required: true
        # - in: header
        #   name: Content-type
        #   type: string
        #   default: 'application/json'
        #   description: SDS interaction identifier
        #   required: true
        - in: header
          name: Authorization
          type: string
          x-multiline: true
          description: Authorization header containing JWT
          x-example: |-
            {
              "iss": "https://orange.testlab.nhs.uk/",
              "sub": "1",
              "aud": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/v1/fhir",
              "exp": <<expiry>>,
              "iat": <<issued_at>>,
              "reason_for_request": "directcare",
              "requested_scope": "patient/*.write",
              "requesting_device": {
                "resourceType": "Device",
                "identifier": [
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-system-instance-id",
                    "value": "gpcdemonstrator-1-orange"
                  }
                ],
                "model": "GP Connect Demonstrator",
                "version": "1.2.7"
              },
              "requesting_organization": {
                "resourceType": "Organization",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                    "value": "A11111"
                  }
                ],
                "name": "Consumer organisation name"
              },
              "requesting_practitioner": {
                "resourceType": "Practitioner",
                "id": "1",
                "identifier": [
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-user-id",
                    "value": "111111111111"
                  },
                  {
                    "system": "https://fhir.nhs.uk/Id/sds-role-profile-id",
                    "value": "22222222222222"
                  },
                  {
                    "system": "https://orange.testlab.nhs.uk/gpconnect-demonstrator/Id/local-user-id",
                    "value": "1"
                  }
                ],
                "name": [
                  {
                    "family": "Demonstrator",
                    "given": [
                      "GPConnect"
                    ],
                    "prefix": [
                      "Dr"
                    ]
                  }
                ]
              }
            }
          required: true
        - in: body
          name: body
          description: Appointment
          schema:
            type: object  
            example:
              resourceType: "Appointment"
              id: "3"
              meta:
                profile:
                  - "https://fhir.nhs.uk/STU3/StructureDefinition/GPConnect-Appointment-1"
              contained:
                - resourceType: "Organization"
                  id: "1"
                  meta:
                    profile:
                      - "https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Organization-1"
                  identifier:
                    - system: "https://fhir.nhs.uk/Id/ods-organization-code"
                      value: "GPC001"
                  name: "GP Connect Demonstrator"
                  telecom:
                    - system: "phone"
                      value: "0113 258 2569"
              status: "booked"
              created: "2018-11-14T14:31:55+00:00"
              description: "A test appointment booked through Interactive Swagger API"
              start: "2018-11-16T10:00:00+00:00"
              end: "2018-11-16T10:10:00+00:00"
              slot: 
                - reference: "Slot/1"
              participant:
                - actor:
                    reference: "Patient/2"
                  status: "accepted"
                - actor:
                    reference: "Location/1"
                  status: "accepted"
              extension:
                - url: "https://fhir.nhs.uk/STU3/StructureDefinition/Extension-GPConnect-BookingOrganisation-1"
                  valueReference:
                    reference: "#1"
          required: true
        - in: path
          name: id
          type: string
          description: Appointment logical identifier
          x-example: '1'
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
